## OS / Editor
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

## Modelica-specific files
*~
*.bak
*.bak-mo
*.mof
\#*\#
*.moe
*.mol

## OpenModelica
OMEdit/
*.mos~
*.log
*.tmp
*.plt

## Build artifacts
*.exe
*.exp
*.o
*.pyc
*.fmu
*.so
*.dll
*.dylib
*_FMU.*
*_info.json
*_res.mat
*_log.txt
*_tmp/

## Simulation files
*.mat

## Package files
*.gz
*.rar
*.tar
*.zip

## Dymola-specific files
buildlog.txt
dsfinal.txt
dsin.txt
dslog.txt
dsmodel*
dsres.txt
dymosim*
request
stat
status
stop
success
*.

## Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist-info/
.env
.venv/
venv/

## Node / Vite / Docs
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*